name: image
on:
  push:
jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v6
        with:
          tags: |
            ghcr.io/akurin/reservio-slot-seeker:latest
            ghcr.io/akurin/reservio-slot-seeker:${{ github.sha }}
          push: true
